<html>

<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WY48QW1SMW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WY48QW1SMW');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,700;1,400&family=Rye&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/main.css" />
<link rel="icon" type="image/x-icon" href="/img/WebsiteLogo.ico">
<title></title>

  <link rel="stylesheet" href="/blog.css" />
</head>

<body>
  <header>
  <nav class="navigation" id="navigation">
     <a class="title-link" href="/"> Niyathi Kukkapalli </a> 

    <div class="navigation-links">
      <a class="navigation-link" href="/about">About Me</a>
      <a class="navigation-link" href="/art">Artwork</a>
     <!-- <a class="navigation-link" href="/math">Math</a> -->
       <a class="navigation-link" href="/blog/">Blog Posts</a> 
      <a class="navigation-link" href="/research">Projects</a>
    </div> 
  </nav>
</header>


  <div class="blog">
    <h1 class="blog-title">The Algebraic Arcanum</h1>

    <hr class="blog-divider" />

    {% for post in site.posts %}

    <div class="post-list-item">

      
      {% if post.thumbnail %}
      <img class="post-thumbnail" src="{{ post.thumbnail }}" loading="lazy" alt="{{ post.title }}">
      {% endif %}

      <div class="post-metadata-container">
        <a class="bloglinks" href="{{ post.url }}"> {{ post.title }} </a>

        <div class="post-date">

          <span>{{ post.date | date: "%B %d, %Y" }}</span>
          <span>-</span>
          
          <span class="post-category"> Wolfram</span>
          
          <span class="post-category"> Alpha,</span>
          
          <span class="post-category"> Mathematica,</span>
          
          <span class="post-category"> Wolfram</span>
          
          <span class="post-category"> Student</span>
          
          <span class="post-category"> Ambassadors</span>
          
          <div class="post-description">
            Whether it's helping with my USAMTS problems or with that pesky Calc homework problem, Wolfram Alpha is pretty great. I mean, I remember plugging in this really complex two-variable system of equations, and it just solved it! Ok, as a mathematician, that could be counted as shortcutting, but I do this since it's inproductive to just keep bashing at an unrealistic system of equations that you cannot solve. And as my appreciation for Wolfram Alpha increased, I applied to become a Wolfram Student Ambassador.
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/history.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/2023/10/08/23-locke.html"> Which has a bigger effect on history: the plans of the powerful or their mistakes? </a>

        <div class="post-date">

          <span>October 08, 2023</span>
          <span>-</span>
          
          <span class="post-category"> Academic</span>
          
          <span class="post-category"> Writing,</span>
          
          <span class="post-category"> Jil</span>
          
          <span class="post-category"> Competition,</span>
          
          <span class="post-category"> World</span>
          
          <span class="post-category"> Wars</span>
          
          <div class="post-description">
            I recently entered the John Locke Institute Global Essay Competition which is held by the John Locke Institute sponsored by Oxford and Princeton. It's an essay competition that encourages you to explore college level academic writing through thought provoking questions that go beyond the bounds of school essays. You can receive many prizes through the competiton, and I myself got a Commendation for the essay I submitted into the History section...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/zeta.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/zeta/functions/2023/08/16/primes-zeta-functions.html"> Introduction to the Zeta Function </a>

        <div class="post-date">

          <span>August 16, 2023</span>
          <span>-</span>
          
          <span class="post-category"> Zeta</span>
          
          <span class="post-category"> Functions,</span>
          
          <span class="post-category"> Euler</span>
          
          <span class="post-category"> Product,</span>
          
          <span class="post-category"> Trignometry</span>
          
          <div class="post-description">
            I recently attended the PROMYS program as a second year, and I wanted to encapsulate a bit of the cool math that I learned there! The primary class that I took was Prime and Zeta Functions, where we learned about zeta functions, Dirichlet Functions, Gauss sums, etc. It was all so cool! In my attempt to not forget any of it, I'll give a beginner's introduction to Reimann Zeta Functions (the beginning of the course).
          </div>
        </div>
      </div>

    </div>
    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/huygens.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/biography/2023/06/09/huygens.html"> Christaan Huygens: The Father of the Old Clock </a>

        <div class="post-date">

          <span>June 09, 2023</span>
          <span>-</span>
          
          <span class="post-category"> Christiaan</span>
          
          <span class="post-category"> Huygens,</span>
          
          <span class="post-category"> Pendulum,</span>
          
          <span class="post-category"> Scientist</span>
          
          <div class="post-description">
            Christaan Huygens, a highly gifted physicist and astronomist who is most known for his work on the centrifugal force (yes, that one concept you may have hated in AP Physics), the wave theory of light, and lastly ... dun dun dun, the pendulum clock! Whenever you spend the hours away procrasinating, be thankful to Huygens for that clock you always glance over. No really! Clocks before Huygen's clock were highly inaccurate and times would be as much as an hour off...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/web.png">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/2023/05/25/tutorial.html"> The Long Awaited: How did I create this website? </a>

        <div class="post-date">

          <span>May 25, 2023</span>
          <span>-</span>
          
          <span class="post-category"> Website</span>
          
          <span class="post-category"> Creation,</span>
          
          <span class="post-category"> Html,</span>
          
          <span class="post-category"> Css</span>
          
          <div class="post-description">
            I think that having a website is great for anyone whether it's advertising your personal portfolio or creating a blog (like me!) My website is just a culmination of all the things that I enjoy in life from art to math and it's a little passion project of mine. On top of that, it's really easy to begin whether you can code or not! Of course, there are templates on Squarespace but there is something personal about coding your own website from scratch...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/pascal.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/pascal,/geometry,/history/2023/05/10/pascal.html"> Blaise Pascal: Well, there's the triangle. </a>

        <div class="post-date">

          <span>May 10, 2023</span>
          <span>-</span>
          
          <span class="post-category"> Math,</span>
          
          <span class="post-category"> History,</span>
          
          <span class="post-category"> Ptolemy</span>
          
          <div class="post-description">
            While I was doing some AMC and AIME problems, I encountered Pascal's triangle endless times. In came up a lot in combinatorial problems, and it's quite cool how theorems like the Hockey Stick Identity come from it. Although, I do think Sierpinski's triangle is the best triangle of all --- no one can beat that one. I also always thought mathematicians like Gauss had a interesting childhood, I mean he solved the n(n+1)/2 problem in Elementary. So, was Pascal the same? Let's find out...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/Latex2.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/latex/2023/04/09/23-latex.html"> Latex for beginners: How I got Started </a>

        <div class="post-date">

          <span>April 09, 2023</span>
          <span>-</span>
          
          <span class="post-category"> Latex,</span>
          
          <span class="post-category"> Packages,</span>
          
          <span class="post-category"> Tutorial</span>
          
          <div class="post-description">
            I've used LaTeX since probably 7th grade, and it's helped me tremoundously. Being a math buff, there was no way I couldn't learn this incredible language that makes mathematical formulas in a document appear seamless. Even to just to change the format of the document, you can edit the preamble of the document which is superior to any Google Doc or Word feature I've encountered...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/pendulum.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/research/2023/04/01/23-research.html"> My Independent Research Journey: Dynamical Physics </a>

        <div class="post-date">

          <span>April 01, 2023</span>
          <span>-</span>
          
          <span class="post-category"> Independent,</span>
          
          <span class="post-category"> Science</span>
          
          <span class="post-category"> Fair,</span>
          
          <span class="post-category"> Data</span>
          
          <div class="post-description">
            Independent research is actually quite common and it's how most prolific ISEF qualifers start their journey! In general, it's nice to have a resume of research to learn various skills from computing to engineering. Honestly, I was very overwhelmed with trying to find a topic. Lots of the websites that I checked out either had that staple exploding Volcano or a topic that exceeded the 500 word limit. There was never an in between!
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/proof2.png">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/usamts/2023/02/20/usamts3.html"> A USAMTS Year 34 Round 3 & Overall Review </a>

        <div class="post-date">

          <span>February 20, 2023</span>
          <span>-</span>
          
          <span class="post-category"> Contest</span>
          
          <span class="post-category"> Math,</span>
          
          <span class="post-category"> Proof,</span>
          
          <span class="post-category"> Usamts,</span>
          
          <span class="post-category"> Solutions</span>
          
          <div class="post-description">
            USAMTS is a free, high school oriented, proof based contest that is funded by NSA. The contest consists of three rounds, each with 5 problems and worth 5 points. The contest is fully remote and is a month long since the problems are hard enough to not get immediately. The contest is a great way to think about problems constantly and sharpen your math skills...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/proof2.png">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/usamts/2022/12/06/usamts2.html"> A USAMTS Year 34 Round 2 Review </a>

        <div class="post-date">

          <span>December 06, 2022</span>
          <span>-</span>
          
          <span class="post-category"> Contest</span>
          
          <span class="post-category"> Math,</span>
          
          <span class="post-category"> Proof,</span>
          
          <span class="post-category"> Usamts,</span>
          
          <span class="post-category"> Solutions</span>
          
          <div class="post-description">
            USAMTS is a free, high school oriented, proof based contest that is funded by NSA. The contest consists of three rounds, each with 5 problems and worth 5 points. The contest is fully remote and is a month long since the problems are hard enough to not get immediately. The contest is a great way to think about problems constantly and sharpen your math skills...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/james.png">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/james/garfield/2022/10/30/garfield.html"> James Garfield and Pythagoras? </a>

        <div class="post-date">

          <span>October 30, 2022</span>
          <span>-</span>
          
          <span class="post-category"> Garfield,</span>
          
          <span class="post-category"> Pythagoras,</span>
          
          <span class="post-category"> History</span>
          
          <div class="post-description">
            Well, that title is quite strange! Who would have thought that our 20th president and Pythagoras could be in the same sentence? Getting to that later, who even is James Garfield? No, he is not the orange talking cat. Some may know him as our 20th president or a mathematician. The former is more probable. James Garfield was born in...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/proof2.png">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/usamts/2022/10/16/22-usamts.html"> A USAMTS Year 34 Round 1 Review </a>

        <div class="post-date">

          <span>October 16, 2022</span>
          <span>-</span>
          
          <span class="post-category"> Contest</span>
          
          <span class="post-category"> Math,</span>
          
          <span class="post-category"> Proof,</span>
          
          <span class="post-category"> Usamts,</span>
          
          <span class="post-category"> Solutions</span>
          
          <div class="post-description">
            USAMTS is a free, high school oriented, proof based contest that is funded by NSA. The contest consists of three rounds, each with 5 problems and worth 5 points. The contest is fully remote and is a month long since the problems are hard enough to not get immediately. The contest is a great way to think about problems constantly and sharpen your math skills...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/promys.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/promys/2022/10/06/22-promys.html"> My Experiences at PROMYS (Program in Mathematics for Young Scientists) </a>

        <div class="post-date">

          <span>October 06, 2022</span>
          <span>-</span>
          
          <span class="post-category"> Promys,</span>
          
          <span class="post-category"> Math</span>
          
          <span class="post-category"> Summer</span>
          
          <span class="post-category"> Camp,</span>
          
          <span class="post-category"> Lecture</span>
          
          <div class="post-description">
            So PROMYS (Program in Mathematics for Young Scientists) is a 6 week residential math summer camp that is held at Boston University in Massachussets.The point of the program is to essentially live, breathe, and eat math. Specifically, the number theory parts of math. This is because a lot of research has shown up in the recent years regarding number theory. Although, the main point of the program is not to just teach high schoolers a bunch of number theory...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/theory.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/number/theory/2022/08/22/chain-of-reasoning-2.html"> A Chain of Reasoning in Number Theory (part 2) </a>

        <div class="post-date">

          <span>August 22, 2022</span>
          <span>-</span>
          
          <span class="post-category"> Fta,</span>
          
          <span class="post-category"> Proof,</span>
          
          <span class="post-category"> Number</span>
          
          <span class="post-category"> Theory</span>
          
          <div class="post-description">
            In the previous article, we discussed the proofs of the chain up to Bezout's. Although the next two steps look quite cryptic. FTA? UPF? Those are acryonyms since the names are quite long. FTA stands for the Fundamental Theorem of Arthimetic. UPF stands for Unique Prime Factorization. We will proceed similarly as we did in the beginning steps of the chain. We will try and use the previous steps of the chain in our proof of the step we want to prove...
          </div>
        </div>
      </div>

    </div>

    

    <div class="post-list-item">

      
      <img class="post-thumbnail" src="/img/theory.jpeg">
      

      <div class="post-metadata-container">
        <a class="bloglinks" href="/number/theory/2022/08/22/chain-of-reasoning.html"> A Chain of Reasoning in Number Theory </a>

        <div class="post-date">

          <span>August 22, 2022</span>
          <span>-</span>
          
          <span class="post-category"> Wop,</span>
          
          <span class="post-category"> Proof,</span>
          
          <span class="post-category"> Number</span>
          
          <span class="post-category"> Theory</span>
          
          <div class="post-description">
            This article assumes basic proof knowlegdge. The Chain of Reasoning sounds quite general, and it is! There are multiple definitions to this term, and the basis would be that it’s a multi layer argument. Although, I’m not here to lecture about all the types of chains there could be. Rather, I’ll be discussing a rather important chain in Number Theory. This Chain of Reasoning flows as below ...
          </div>
        </div>
      </div>

    </div>

    
  </div>
</body>

</html>