header {
    padding-bottom: 2em;
}

nav a {
    margin: 12px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rye, serif;
    font-weight: normal;
}

.gallery {
    column-count: 3;
    column-gap: 0;
    max-width: 1200px;
    margin: auto;
}

.gallery img {
    width: 100%;
}

.gallery img:hover {
    cursor: zoom-in;
}

.gallery-overlay-container {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
}

.gallery-overlay {
    display: flex;
    align-items: center;
    height: 100%;
}

.gallery-overlay img {
    height: 80%;
}

button#gallery-overlay-close {
    position: absolute;
    top: 0;
    right: 0;
}

.game, .pdf {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}



