img.small {
  width: 20rem;
}

img.medium{
  width: 35rem;
}

img.normal{
  width: 30rem;
}

img.large{
  width: 40rem;
}

.post-content img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.image-with-caption img {
  margin-bottom: 1rem;
}

.post-content {
  width: 100%;
  max-width: 40rem;
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
  padding-bottom: 4rem;
}

.post-content h1, .post-content h2, .post-content h3, .post-content p {
  width: 100%;
  display: block;
}

.post-content h1 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.post-content h2 {
  font-size: 1.5rem;
}

.byline {
  width: 100%;
  max-width: 700px;
}

.byline h2 {
  border-top: 3px solid green;
  width: fit-content;
  text-align: left;
  padding-top: 0.3rem;
  font-size: 14px;
}

.proof {
  background-color: rgb(230, 230, 230);
  border-radius: 12px;
  padding: 12px;
  max-width: 700px;
}

.warning {
  background-color: rgb(235, 215, 156);
  border-radius: 12px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

hr {
  height: 3px;
  border: none;
  color: green;
  background-color: green;
  width: 100%;
}
