<header>
    <nav class="navigation" id="navigation">
        <a class="title-link" href="/">
            Niyathi Kukkapalli
        </a>
        <div class="navigation-links">
            <a class="navigation-link" href="/">About Me</a>
            
          <!---   <div class="dropdown"> -->
                <a class ="navigation-link" href = "/art">Art</a>
               <!--- <div class="dropdown-content"> 
                    <a href="/art/HighSchool">High School Art</a>
                    <a href="/art/Elementary">Elementary Art</a> 
                </div> --> 
             </div> 

            <div class="dropdown">
                <a class="navigation-link" >Projects/Research</a>
            <!---    <div class="dropdown-content">
                    <a href="/projects/cs">CS</a>
                    <a href="/projects/science">Science</a> -->
                </div>
            </div>

            
            <a class="navigation-link" href="/math">Math</a>
            <a class="navigation-link" href="/blog">Blog</a>

        </div>
    </div>

            
    

</div>
    </nav>
    </div>
</header>